<div class="local-page">
  <app-side-bar [page] = "Page"></app-side-bar>
  <div class="content">
    <h2 class="title">Locais</h2>
    <a routerLink = 'create'><app-button [value] = "textButton" [btnStyle] = "buttonWidth"></app-button></a>
    <div class="table-title">
      <ul>
        <li><p>Responsável</p></li>
        <li><p>Local</p></li>
        <li><p>Data de Fundação</p></li>
        <li><p>Empregados</p></li>
        <li><p>Ações</p></li>
      </ul>
    </div>
    <div class="table-content">
      <ul>
        <li><p>André</p></li>
        <li><p>Belo Horizonte - MG</p></li>
        <li><p>27/09/2017</p></li>
        <li><p>42</p></li>
        <li><a class="edit" routerLink="edit"><button>Editar</button></a><a class="delete"><button>Apagar</button></a></li>
      </ul>
    </div>
  </div>
</div>
