<div class="local-page">
  <app-side-bar [page]="Page"></app-side-bar>
  <div class="content">
    <h2 class="title">Locais</h2>
    <a routerLink="create"
      ><app-button [value]="textButton" [btnStyle]="buttonWidth"></app-button
    ></a>
    <div class="table-title">
      <ul>
        <li><p>Responsável</p></li>
        <li><p>Local</p></li>
        <li><p>Vagas Abertas</p></li>
        <li><p>Empregados</p></li>
        <li><p>Ações</p></li>
      </ul>
    </div>
    <div *ngIf = "locals$ | async as locals; else loading">
      <div class="table-content" *ngFor="let local of locals">
        <ul>
          <li>
            <p>{{ local.responsable }}</p>
          </li>
          <li>
            <p>{{ local.local }}</p>
          </li>
          <li>
            <p>{{ local.opportunity }}</p>
          </li>
          <li>
            <p>{{ local.employee }}</p>
          </li>
          <li>
            <a class="edit" routerLink="edit" (click)="onEdit(local.id)"
              ><button>Editar</button></a
            ><a class="delete"
              ><button (click)="onDelete(local.id)">Apagar</button></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <img class="loading" src="../../../assets/img/logo.png" alt="Logo">
  </ng-template>
</div>
