<div class="page">
  <div class="container">
      <div class="logo">
        <img src="../../../assets/img/logo.png" alt="Logo da página">
      </div>
      <h2>Login</h2>
      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password">
        <app-button [value] = "textButton" [btnStyle] = "buttonWidth"></app-button>
      </form>
    </div>
</div>

