<form class="user-form">
  <label for="name">Nome</label>
  <input type="text" id="name" name="name">
  <label for="email">E-mail</label>
  <input type="email" id="email" name="email">
  <label for="birth">Data de nascimento</label>
  <input type="date" id="birth" name="birth">
  <label for="city">Cidade</label>
  <input type="text" id="city" name="city">
  <label for="front-end">Front-End</label>
  <input type="radio" id="front-end" name="develop">
  <label for="back-end">Back-End</label>
  <input type="radio" id="back-end" name="develop">
  <label for="full-stack">Full Stack</label>
  <input type="radio" id="full-stack" name="develop">
  <input type="checkbox">
  <label for="gender">Gênero</label>
  <select name="gender" id="gender">
    <option value="Male">Masculino</option>
    <option value="Female">Feminino</option>
    <option value="Other">Outro</option>
  </select>
</form>
