<div class="user-page">
  <app-side-bar [page]="Page"></app-side-bar>
  <div class="content">
    <h2 class="title">Usuários</h2>
    <a routerLink="create">
      <app-button [value]="textButton" [btnStyle]="buttonWidth"></app-button>
    </a>
    <div class="table-title">
      <ul>
        <li>
          <p>Nome</p>
        </li>
        <li>
          <p>Email</p>
        </li>
        <li>
          <p>Data de Nascimento</p>
        </li>
        <li>
          <p>Cidade</p>
        </li>
        <li>
          <p>Ações</p>
        </li>
      </ul>
    </div>
    <div *ngIf = "users$ | async as users; else loading">
      <div class="table-content" *ngFor="let user of users">
        <ul>
          <li>
            <p>{{ user.name }}</p>
          </li>
          <li>
            <p>{{ user.email }}</p>
          </li>
          <li>
            <p>{{ user.birth }}</p>
          </li>
          <li>
            <p>{{ user.city }}</p>
          </li>
          <li>
            <a class="edit"><button (click)="onEdit(user.id)">Editar</button></a>
            <a class="delete" (click)="onDelete(user.id)"
              ><button>Apagar</button></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <img class="loading" src="../../../assets/img/logo.png" alt="Logo">
  </ng-template>
</div>
