<form class="local-form" method="POST">
  <span>*Campo Obrigatório</span>
  <div class="res-local">
    <label for="responsable" id="responsable">Responsável:</label>
    <input type="text" id="responsable" name="responsable">
    <label for="local" id="local">Local:</label>
    <input type="text" id="local" name="local">
  </div>
  <div class="fund-emp">
    <label for="oportunity" id="oportunity">Vagas Abertas:</label>
    <input type="text" id="oportunity" name="oportunity">
    <label for="employee" id="employee">Empregados:</label>
    <input type="text" id="employee" name="employee">
  </div>
  <a routerLink="../"><button class="cancel"> Cancelar</button></a>
  <app-button [value] = "buttonText" [btnStyle] = "buttonWidth"></app-button>
</form>

